.d-profile {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.t-profile {
  margin: 0 auto;
}
td {
  padding: 0 15px;
}
